@mixin helveticaLight() { font-family: "HelveticaNeueW01-47LtCn 692686", Helvetica, sans-serif; }

@mixin helveticaNormal() { font-family: "HelveticaNeueW01-57Cn", Helvetica, sans-serif;  }

@mixin helveticaMedium() { font-family: "HelveticaNeueW01-67MdCn 692710", Helvetica, sans-serif;  }

@mixin helveticaBold() { font-family: "HelveticaNeueW01-77BdCn 692722", Helvetica, sans-serif; }


